<ion-header>
  <ion-toolbar>
    <ion-title class="headline">{{franchisee?.name || 'Novo Franqueado'}} {{franchisee?.surname}}</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round"
                  color="primary"
                  (click)="dismiss()">
        <ion-icon name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid [formGroup]="form">
    <ion-row>
      <ion-col size="12"
               size-md="5"
               offset-md="1">
        <h2 class="headline">Senhas</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"
               size-md="4"
               offset-md="1">
        <app-input name="password"
                   [type]="isPasswordShown ? 'text': 'password'"
                   label="
                   Senha"
                   [maxlength]="20"
                   (value)="changeControl('password', $event)">
          <ion-item *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
                    class="validation-note"
                    lines="none">
            <div>
              <ion-label *ngIf="form.controls['password'].errors?.['required']"
                         color="danger">
                Preencha o Campo
              </ion-label>
              <ion-label *ngIf="form.controls['password'].errors?.['pattern']"
                         color="danger">
                A senha deve ter pelo menos uma letra minúscula, uma letra maiúsculo, um número, um caractere
                especial e 8 caracteres
              </ion-label>
            </div>
            <ion-icon name="warning"
                      slot="end"
                      color="danger"></ion-icon>
          </ion-item>
        </app-input>
      </ion-col>
      <ion-col size="1">
        <ion-button size="small"
                    fill="clear"
                    shape="round"
                    (click)="isPasswordShown = !isPasswordShown">
          <ion-icon [name]="isPasswordShown ? 'eye': 'eye-off'"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12"
               size-md="4">
        <app-input name="cPassword"
                   [type]="isConfirmPasswordShown ? 'text': 'password'"
                   label="Confirmar a Senha"
                   [maxlength]="20"
                   (value)="changeControl('cPassword', $event)">
          <ion-item *ngIf="form.invalid && (form.dirty || form.touched)"
                    class="validation-note"
                    lines="none">
            <div>
              <ion-label *ngIf="form.controls['cPassword'].errors?.['required']"
                         color="danger">
                Preencha o Campo
              </ion-label>
              <ion-label *ngIf="form.errors?.['equalsTo']"
                         color="danger">
                A confirmação da Senha deve ser igual à Senha
              </ion-label>
            </div>
            <ion-icon name="warning"
                      slot="end"
                      color="danger"></ion-icon>
          </ion-item>
        </app-input>
      </ion-col>
      <ion-col size="1">
        <ion-button size="small"
                    fill="clear"
                    shape="round"
                    (click)="isConfirmPasswordShown = !isConfirmPasswordShown">
          <ion-icon [name]="isConfirmPasswordShown ? 'eye': 'eye-off'"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="solid"
                  color="danger"
                  (click)="dismiss()">
        <ion-icon name="close-sharp"
                  slot="start"></ion-icon>
        <ion-label>Cancelar</ion-label>
      </ion-button>
      <ion-button fill="solid"
                  color="success"
                  [disabled]="!form.valid || loaders.submit"
                  (click)="submit()">
        <ion-icon *ngIf="!loaders.submit"
                  name="save-sharp"
                  slot="start"></ion-icon>
        <ion-spinner *ngIf="loaders.submit"
                     slot="start"></ion-spinner>
        <ion-label>{{ loaders.submit ? 'Salvando...': 'Salvar'}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
