<ion-grid>
  <ion-row>
    <ion-col size="10"
             offset="1">
      <h1 class="headline">Galeria</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="10"
             offset="1">
      <div class="container">
        <ion-img *ngFor="let img of galleryImgs; let i = index;"
                 class="image image{{i}}"
                 [ngClass]="{'ion-hide-md-down': i === 0 || i === 5}"
                 [src]="img">
        </ion-img>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-buttons class="action-buttons">
        <ion-button class="outline-button"
                    fill="outline"
                    (click)="navigateExternalLink('https://www.instagram.com/confrariadotemaki/')">
          <ion-icon name="logo-instagram"
                    slot="start"></ion-icon>
          VER MAIS
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>
