/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-button {
  text-transform: none !important;
}

@font-face {
  font-family: montserrat-bold;
  src: url(assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: montserrat-semi-bold;
  src: url(assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: montserrat-regular;
  src: url(assets/fonts/Montserrat-Regular.ttf);
}

.superheadline {
  font-family: montserrat-bold;
  font-size: clamp(32px, 4.44vw, 64px);
}

.headline {
  font-family: montserrat-semi-bold;
  font-size: clamp(28px, 2vw, 46px);
}

.subheadline {
  font-family: montserrat-regular;
  font-size: 26px;
}

.bodylarge {
  font-family: montserrat-regular;
  font-size: 18px;
}

.button-text {
  font-family: montserrat-regular;
  font-size: 16px !important;
}

.product-title {
  font-family: montserrat-regular;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 0px;
}

.tile-card {
  background: linear-gradient(
      157.28deg,
      rgba(255, 255, 255, 0.114) 0.23%,
      rgba(34, 36, 40, 0.6) 96.13%
    ),
    #222428;
  border-radius: 12px;
}

.grid {
  padding-top: 200px;
  padding-left: 0px;
  padding-right: 0px;
}

.input-select {
  .item ion-label {
    white-space: normal;
    text-overflow: unset;
  }
}

.form ion-row {
  ion-col {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (max-width: 768px) {
    ion-col {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}

.validation-note {
  --background: #fff;
  border-radius: 0px 0px 7px 7px;
  ion-label {
    white-space: normal !important;
    text-overflow: unset !important;
    display: block !important;
  }
}

.bg-image {
  width: 100%;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media only screen and (min-width: 768px) {
    height: 960px;
    h1 {
      margin-top: 100px;
    }
  }
  @media only screen and (max-width: 768px) {
    background-position: right center;
    background-size: cover;
    background-attachment: initial;
  }

  @media only screen and (min-width: 1441px) {
    background-position: right center;
    background-size: cover;
  }
}

@media only screen and (min-width: 768px) {
  .modal-wrapper {
    border-radius: 15px !important;
  }
  ion-modal {
    --width: 90% !important;
    --height: 90% !important;
  }
}

@media only screen and (min-width: 768px) {
  .landing-row {
    padding-top: 115px;
  }
}

.loader-center {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 20px;
}

.fade-element {
  transition: opacity visibility 400ms;
  opacity: 1;
  visibility: visible;
  transform: initial;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  &.shrink {
    transform: scale(0, 0);
  }
}

.navigation-list {
  padding: 0px;
  height: 100vh;

  .navigation-item {
    --transition: all 0.4s ease-in-out;
    &.selected {
      --border-radius: 0px !important;
      --border-color: var(--ion-color-primary);
      --color: var(--ion-color-primary);
      --padding-start: 11px;
      &.right {
        --border-width: 0px 5px 0px 0px;
      }
      &.left {
        --border-width: 0px 0px 0px 5px;
      }

      ion-icon {
        color: var(--ion-color-primary);
      }
    }
  }
}

.native-textarea {
  min-height: 40px;
}

ion-popover [popover]:not(:popover-open):not(dialog[open]) {
  display: contents;
}
